@charset "utf-8";

* { margin: 0; padding: 0; }
h2 {
    text-align: center;
    margin-bottom: 20px;

}
#form {
    width: 600px;
    margin: 50px auto;
    border:1px solid #000;
     
}
fieldset {border:0;}
legend {
    position: absolute; 
    left:-999999px;
}
div {
    margin-bottom: 10px;
}
.title{
    /* display:inline-block; */
    width: 150px;
    font-weight: bold;
    text-align: right;
    float: left;
}
 
input[type="text"], 
input[type="password"] {
    width: 300px;
    height: 30px;
    margin-bottom: 5px;
}
input[type="button"] {
    width: 300px;
    height: 30px;
    background-color: #000;
    color: #fff;
    border:0;
    margin-bottom: 5px;
}
.address input[type="text"]{
    margin-left: 150px;
}
.button {
    text-align: center;
}
input[type="submit"] {
    width: 120px;
    height: 40px;
    background-color: #000;
    border: 0;
    color: #fff;
}
input[type="reset"] {
    width: 120px;
    height: 40px;
    border: 1px solid #000;
    background-color: #fff;
}
.align {
    vertical-align: top;

}
/*.title.align 
 동일한 클래스속성에 들어가 있는 속성값들 */
 /* label.title  */

textarea {
    resize:none; /* 사이즈조절안됨 */
}